<%= form_for([@blog, @entry]) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :sub_title %><br>
    <%= f.text_field :sub_title %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :pictures %><br>
    <%= f.text_field :pictures %>
  </div>
  <div class="field">
    <%= f.label :videos %><br>
    <%= f.text_field :videos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
