<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Sub title:</strong>
  <%= @entry.sub_title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @entry.text %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= @entry.pictures %>
</p>

<p>
  <strong>Videos:</strong>
  <%= @entry.videos %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @entry.blog_id %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
